html{
    background-color: black;
    text-align: center;
}

div{
    width: 50%;
    margin-left: 25%;
}

img{
    width: 100%;
    margin-top: 50px;
    border: solid white;
}

h1{
    color: white;
    margin-bottom: 30px;
    font-family: 'Libre Baskerville', serif;
}

p{
    color: white;
}